html{
    background-color: #ededed;
}
body {
    margin: 0 0 0 0;
    background-color: #ededed;
    padding: 0 0 0 0;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
          
          color: white;
          text-align: center;
      }
  
  
      .wrapper {
        margin: 0 40px 0 40px;  
        display: grid;
      grid-gap: 10px;
          grid-template-columns: 1fr  1fr  200px;
          grid-template-areas:
                 "header header  header"
                "content content sidebar";
          background-color: #ededed;
          color: #444;
      }
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    
  }
  
  .header {
    background-color: black;
  }

  img{
      margin: 0 auto 0 auto;
      display: block;
  }

  .item{
      text-align: center;
  }

  h2{
      text-align: center;
  }

  .demo{
    background-color: gray;
  }

  .divholder{
    margin: 0 0 0 0;
    background-color: #ededed;
  }




  @media screen and (min-width:200px) and (max-width: 479px) {
    
    .wrapper{
        grid-template-columns: 1fr  1fr  200px;
          grid-template-areas:
                 "header header  header"
                "content content content"
                "sidebar sidebar sidebar";
    }
    .sidebar {
        grid-area: sidebar;
    }
    
      
    

    
  } /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  
  
    @media screen and (min-width:480px) and (max-width: 599px)  {
        
    .wrapper{
        grid-template-columns: 1fr  1fr  200px;
          grid-template-areas:
                 "header header  header"
                "content content content"
                "sidebar sidebar sidebar";
    }
        .sidebar {
        grid-area: sidebar;
     }  


  } /* smartphones, Android phones, landscape iPhone */ 
  
  
    @media screen and (min-width:600px) and (max-width: 800px)  {
     
    } /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  
  
    @media screen and (min-width:801px) and (max-width: 1000px)  {
      
     
    }
       /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  
  
    @media screen and (min-width:1001px) and (max-width:1280px){
    
    
  }
    
    
    
    /* big landscape tablets, laptops, and desktops */ 
  
  
    @media screen and (min-width:1281px)and (max-width: 1920px) {
     
      
    /* hi-res laptops and desktops */
    }

    @media screen and (min-width:1921px)and (max-width: 3840px) {
      
      
    /* hi-res laptops and desktops */
    }