html{

background-color: #ffccff;

}

body{
    width: 1000px;
    margin: 0 auto;
}

h1 {
  
    text-align: center;
  
  }

h2 {
    text-align: center;
}

h3{
    text-align: center;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

figure figcaption {
    text-align: center;
}

div {
    margin: 100px 0 0 0;
    font-size: 10pt;
}




